@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: 'Banny Round';
  src: url("../fonts/Banny-BoldRound.eot");
  src: url("../fonts/Banny-BoldRound.eot?#iefix") format("embedded-opentype"), url("../fonts/Banny-BoldRound.woff") format("woff"), "../fonts/Banny-BoldRound.woff2" format("woff2"), url("../fonts/Banny-BoldRound.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1280px;
  margin: auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 1110px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 910px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 50px 0;
}

.section li {
  list-style: none;
}

.section-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
}

.section-wrapp_even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #fff;
}

.section-image {
  position: relative;
}

.section-item {
  -ms-flex-preferred-size: 46.8%;
      flex-basis: 46.8%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-item_text {
  text-align: center;
}

.section-item_image {
  position: relative;
}

.section-item__header {
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Banny Round', sans-serif;
  margin: 0;
}

.section-item__header::after {
  content: '';
  display: block;
  margin: 21px auto;
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 8px;
}

.section-item__description {
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  max-width: 565px;
  margin-bottom: 25px;
}

.section-item__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.section-item__paragraph_even {
  color: #e6e6e6;
}

.section-name {
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 7px;
  text-transform: uppercase;
}

.section-name_another {
  color: #fff;
}

.section-square {
  width: 250px;
  height: 250px;
  border: 20px solid #E8C300;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5), inset 0px 0px 125px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5), inset 0px 0px 125px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: -10%;
  top: 28%;
}

.section-square_even {
  left: -12%;
}

.section-footer {
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
}

.section-footer_even {
  color: rgba(250, 250, 250, 0.5);
}

.button {
  display: inline-block;
  text-decoration: none;
  width: 200px;
  padding: 24px 0;
  font-size: 12px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}

.button:hover {
  outline: none;
  background: #E8C300;
  cursor: pointer;
}

input {
  height: 60px;
  width: 100% !important;
  background: #E5E5E5;
  border: none;
  border-radius: 5px;
  outline: none;
  padding-left: 20px;
}

input[type="date"] {
  display: block;
  width: 100%;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  display: none;
}

input[type="date"]::-webkit-datetime-edit-month-field::after {
  content: "/";
  display: block;
}

input[type="date"]::-webkit-datetime-edit-text {
  color: red;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

input[type="time"] {
  display: block;
  width: 100%;
}

.select {
  text-align: left;
  height: 60px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  background: #E5E5E5;
}

.select:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/booking/arrow.png") no-repeat center;
}

.select:hover {
  cursor: pointer;
}

.select_checked {
  line-height: 60px;
  padding-left: 20px;
}

.select__dropdown {
  position: absolute;
  z-index: 10;
  top: 55px;
  width: 100%;
  background: #E5E5E5;
  margin: 0;
  list-style: none;
  padding: 0;
  display: none;
  border-radius: 0 0 5px 5px;
}

.select__dropdown_open {
  display: block;
}

.select__option {
  padding: 20px;
  border: 2px solid transparent;
}

.select__option:hover {
  border: 2px solid #E8C300;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.form-group {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: relative;
}

.form-group_contact {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.form-group_contact_size {
  -ms-flex-preferred-size: 97.5%;
      flex-basis: 97.5%;
}

.form-group label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.form-input_area {
  width: 100%;
  height: 120px;
  background: #E5E5E5;
  border: none;
  outline: none;
  padding: 20px 20px;
  border-radius: 5px;
}

.form-button {
  -ms-flex-preferred-size: 91.5%;
      flex-basis: 91.5%;
  background: #E8C300;
  color: #fff;
  font-size: 12px;
}

.form-button_contact {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: #E8C300;
  color: #fff;
  font-size: 12px;
}

.form-items {
  text-align: center;
  -ms-flex-preferred-size: 98%;
      flex-basis: 98%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.form-items-contact {
  padding: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-items-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-items-item:last-child {
  padding-left: 30px;
}

.disabled-color {
  opacity: 0.5;
}

.red-line {
  border: 1px solid red;
}

#map {
  width: 100%;
  height: 475px;
}

.alert {
  text-align: left;
}

@media (max-width: 1300px) {
  .section {
    padding: 40px 0;
  }
  .section-item {
    -ms-flex-preferred-size: 42.8%;
        flex-basis: 42.8%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-square {
    width: 200px;
    height: 200px;
  }
  .section-square_even {
    left: -12%;
  }
  .form-group {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .form-group_contact {
    -ms-flex-preferred-size: 91.5%;
        flex-basis: 91.5%;
  }
  .form-input_area {
    height: 80px;
  }
  .form-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form-items-contact {
    width: 92%;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-items-contact:first-child {
    width: 97%;
  }
  .form-items-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .form-items-item:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 1110px) {
  .section-wrapp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-item {
    -ms-flex-preferred-size: 42.8%;
        flex-basis: 42.8%;
  }
  .section-item__header {
    font-size: 30px;
  }
  .section-item__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .section-item__paragraph {
    font-size: 12px;
  }
  .section-image {
    max-width: 100%;
  }
  .section-name {
    font-size: 10px;
  }
  .section-square {
    width: 150px;
    height: 150px;
    border: 15px solid #E8C300;
  }
}

.alert {
  font-size: 12px;
}

@media (max-width: 910px) {
  .section-wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 0;
  }
  .section-wrapp_even-events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-image {
    max-width: 80%;
  }
  .section-item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-item_text {
    text-align: center;
  }
  .section-item_image {
    max-width: 69%;
  }
  .section-item__header::after {
    margin: 10px auto;
  }
  .section-item__description {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .section-item__paragraph {
    display: none;
  }
  .section-name {
    font-size: 8px;
    margin-bottom: 40px;
  }
  .section-square {
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(0, 0, 0, 0.3);
    right: -4%;
  }
  .section-square_even {
    left: -5%;
  }
  .section-footer {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .section-item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-item_text {
    text-align: center;
  }
  .form-group {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .form-group_contact {
    -ms-flex-preferred-size: 91.5%;
        flex-basis: 91.5%;
  }
  .form-input_area {
    height: 80px;
  }
  .form-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .form-items-contact {
    width: 92%;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-items-item {
    text-align: center;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    margin-bottom: 10px;
  }
  .form-items-item:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 500px) {
  .section-square {
    width: 95px;
    height: 95px;
    border: 10px solid #E8C300;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5), inset 0px 0px 50px rgba(0, 0, 0, 0.3);
    top: 32%;
  }
  input[type="date"] {
    display: block;
    width: 378px;
  }
  input[type="time"] {
    display: block;
    width: 378px;
  }
}

@supports (row-gap: 10px) and ((-webkit-column-gap: 10px) or (column-gap: 10px)) {
  .form-group {
    margin: 5px;
  }
  .form-group_contact {
    margin: 5px;
  }
}

.header {
  background: url("../img/header/bg.png") no-repeat top center/cover;
  position: relative;
  overflow: hidden;
}

.navbar {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(22, 17, 11, 0.6);
  z-index: 100;
}

.navbar__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100px;
}

.navbar__menu {
  width: 532px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.navbar__menu-link {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  padding: 4px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.navbar__menu-link:hover {
  border-bottom: 2px solid #E8C300;
}

.navbar__logo {
  margin: auto;
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
  z-index: 10;
  position: relative;
}

.navbar__logo-image {
  position: relative;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.rotating {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero {
  padding-top: 230px;
}

.hero__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  text-transform: uppercase;
}

.hero__shedule {
  font-size: 12px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  left: 0;
  top: -10px;
  position: absolute;
  text-transform: none;
  white-space: nowrap;
}

.hero__social {
  padding: 0;
  position: absolute;
  right: 0;
  top: -10px;
}

.hero__social-button {
  text-decoration: none;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
}

.hero__social-button:hover {
  cursor: pointer;
}

.hero__social-button img {
  -webkit-transform: translate(0%, 90%);
          transform: translate(0%, 90%);
}

.hero__social-button:first-child img {
  -webkit-transform: translate(0%, 80%);
          transform: translate(0%, 80%);
}

.hero-header {
  font-size: 96px;
  margin: 0;
  font-family: 'Banny Round', sans-serif;
}

.hero-header::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background: #E8C300;
  margin: 30px auto;
  border-radius: 10px;
}

.hero__button-click {
  margin: 0 20px;
}

.hero__arrow {
  margin: 80px auto;
  max-width: 50px;
}

.hero__arrow a {
  display: inline-block;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.hero__arrow img {
  padding: 10px 8px;
  border-radius: 50%;
  background: #fff;
}

.menu-header {
  width: 100%;
  position: fixed;
  top: 94px;
  left: 0;
  padding: 16px 0px;
  z-index: 100;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: linear-gradient(130deg, rgba(70, 40, 40, 0.6) 0%, rgba(0, 80, 113, 0.6) 100%);
  opacity: 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.menu-header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.menu-header__wrapper {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 5px;
  font-size: 13px;
}

.menu-header-link:hover {
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 3px;
}

.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 1300px) {
  .navbar__menu {
    max-width: 532px;
  }
  .navbar__menu-link {
    font-size: 10px;
    padding: 3px;
  }
  .hero__shedule {
    left: 55px;
  }
  .hero__social {
    right: 45px;
  }
  .hero__social-button {
    width: 45px;
    height: 45px;
  }
  .hero__social-button img {
    -webkit-transform: translate(0%, 70%);
            transform: translate(0%, 70%);
  }
  .hero__social-button:first-child img {
    -webkit-transform: translate(0%, 38%);
            transform: translate(0%, 38%);
  }
  .hero-header {
    font-size: 76px;
  }
  .hero__button-click {
    margin: 0 15px;
  }
  .hero__arrow a {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  .hero__logo {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
    z-index: 10;
  }
  .hero__logo-image {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 1110px) {
  .navbar__wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 84px;
  }
  .navbar__menu {
    max-width: 480px;
  }
  .navbar__logo {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  .hero {
    padding-top: 200px;
  }
  .hero__social-button {
    border: none;
  }
  .hero-header {
    font-size: 70px;
  }
  .hero__arrow a {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
}

@media (max-width: 910px) {
  .navbar__wrapp {
    height: 94px;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__logo {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    z-index: 10;
  }
  .hero {
    padding-top: 200px;
  }
  .hero__wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__shedule {
    font-size: 10px;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    -webkit-transform: rotate(0) translateX(-50%);
            transform: rotate(0) translateX(-50%);
    left: 50%;
    top: 160%;
  }
  .hero__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 50%;
    top: 100%;
  }
  .hero__social-button {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }
  .hero__button-click {
    margin: 0 20px;
  }
  .hero__arrow a {
    padding: 8px 9px;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@media (max-width: 700px) {
  .navbar__wrapp {
    height: 80px;
  }
  .navbar__logo {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  .hero {
    padding-top: 100px;
  }
  .hero__button-click {
    margin: 5px 10px;
  }
  .hero__arrow a {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .menu-header {
    top: 80px;
  }
  .menu-header-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .menu-header__wrapper {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 40vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu-header-link {
    font-size: 35px;
    letter-spacing: 8px;
    font-family: 'Banny Round', sans-serif;
  }
}

@media (max-width: 599px) {
  .hero__arrow a {
    padding: 7px 8px;
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@media (max-width: 475px) {
  .hero__arrow a {
    -webkit-transform: translateY(-9px);
            transform: translateY(-9px);
  }
}

.team {
  background: url("../img/team/team-bg.png") no-repeat top center/cover;
}

.specialities {
  background: url("../img/specialities/bsckground.png") no-repeat top center/cover;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-item .section-item {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.slider .slick-dots {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slider .slick-dots li.slick-active button {
  background: #fff;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px !important;
  height: 15px !important;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline: none;
}

.slider .slick-dots button:hover .slider .slick-dots button:active {
  outline: none;
  border: none;
}

@media (max-width: 1300px) {
  .slider-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-item .section-item {
    -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
  }
}

@media (max-width: 910px) {
  .slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-item .section-item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.menu li {
  list-style: none;
}

.menu ul {
  padding: 0;
}

.menu-description {
  max-width: 600px;
}

.menu-block {
  position: relative;
}

.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu__navigation-item {
  padding: 20px 40px;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  text-transform: uppercase;
}

.menu__navigation-item:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.menu__navigation-item:last-child {
  border: none;
}

.menu-wrapper {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-wrapper_hidden {
  position: absolute;
  opacity: 0;
  top: 10%;
}

.menu__column {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.menu__column-dish {
  font-family: 'Banny Round', sans-serif;
  font-weight: 700;
}

.menu__column-description {
  font-size: 12px;
  margin-top: 0;
}

@media (max-width: 1300px) {
  .menu__navigation-item {
    padding: 18px 34px;
    font-size: 10px;
  }
}

@media (max-width: 1110px) {
  .menu-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 15px;
  }
  .menu__column-dish {
    font-size: 13px;
  }
  .menu__column-description {
    font-size: 9px;
    margin-top: 0;
  }
}

@media (max-width: 910px) {
  .menu__navigation-item {
    padding: 10px 15px;
    font-size: 12px;
  }
  .menu-wrapper {
    padding: 0;
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-wrapper_hidden {
    position: absolute;
    opacity: 0;
    top: 6%;
  }
  .menu__column {
    -ms-flex-preferred-size: 48.2%;
        flex-basis: 48.2%;
    margin-right: 10px;
  }
  .menu__column-dish {
    font-size: 16px;
  }
  .menu__column-description {
    font-size: 11px;
  }
}

@media (max-width: 700px) {
  .menu__navigation-item {
    padding: 8px 12px;
    font-size: 10px;
  }
  .menu-wrapper {
    margin-top: 10px;
  }
  .menu__column {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    margin-right: 0px;
  }
  .menu__column-dish {
    font-size: 14px;
  }
  .menu__column-description {
    font-size: 11px;
  }
}

@media (max-width: 620px) {
  .menu__navigation-item {
    padding: 8px 10px;
    font-size: 10px;
  }
  .menu-wrapper {
    padding: 0;
    margin-top: 10px;
  }
  .menu__column {
    text-align: center;
    -ms-flex-preferred-size: 96%;
        flex-basis: 96%;
  }
  .menu__column-dish {
    font-size: 18px;
  }
  .menu__column-description {
    font-size: 13px;
  }
}

.events {
  background: url("../img/events/bg.png") no-repeat top center/cover;
}

.events__image-text {
  padding-left: 20px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 80px;
  background: #000;
  color: #fff;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 43%;
  right: -22%;
  font-size: 24px;
  font-family: 'Banny Round', sans-serif;
}

.events__image-text_position {
  left: -26%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.fa {
  color: #E8C300;
  padding-right: 6px;
}

@media (max-width: 1300px) {
  .events__image-text {
    width: 82.8%;
    top: 41%;
    right: -25%;
  }
}

@media (max-width: 1110px) {
  .events__image-text {
    width: 84%;
    top: 39%;
    right: -24%;
    font-size: 20px;
  }
  .fa {
    color: #E8C300;
    padding-right: 6px;
  }
}

@media (max-width: 910px) {
  .events__image-text {
    width: 82.8%;
    top: 41%;
    right: -25%;
    font-size: 18px;
  }
  .events__image-text_position {
    left: -26%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .fa {
    color: #E8C300;
    padding-right: 6px;
  }
}

@media (max-width: 610px) {
  .events__image-text {
    width: 84%;
    top: 39%;
    right: -23%;
    font-size: 14px;
    height: 60px;
  }
  .fa {
    color: #E8C300;
    padding-right: 6px;
  }
}

.footer {
  background: #000;
  text-align: center;
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
}

.modal-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__item {
  max-width: 350px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.modal__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .modal-wrapp {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */