.events {
    background: url('../../img/events/bg.png')no-repeat top center/ cover;
    &__image-text {
        padding-left: 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        width: 80%;
        height: 80px;
        background: #000;
        color: #fff;
        position: absolute;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 43%;
        right: -22%;
        font-size: 24px;
        @include Banny;
        &_position {
            left: -26%;
            transform: rotate(-90deg);
        }
    }
}
.fa {
    color: $color_1;
    padding-right: 6px;
}

@media (max-width: 1300px){
    .events {
        &__image-text {
            width: 82.8%;
            top: 41%;
            right: -25%;
        }
    }
}


@media (max-width: 1110px) {
    .events {
        &__image-text {
            width: 84%;
            top: 39%;
            right: -24%;
            font-size: 20px;
        }
    }
    .fa {
        color: $color_1;
        padding-right: 6px;
    }
}

@media (max-width: 910px) {
    .events {
        &__image-text {
            width: 82.8%;
            top: 41%;
            right: -25%;
            font-size: 18px;
            //@include Banny;
            &_position {
                left: -26%;
                transform: rotate(-90deg);
            }
        }
    }
    .fa {
        color: $color_1;
        padding-right: 6px;
    }
}

@media (max-width: 810px) {
    
}

@media (max-width: 610px) {
    .events {
        &__image-text {
            width: 84%;
            top: 39%;
            right: -23%;
            font-size: 14px;
            height: 60px;
            &_position {

            }
        }
    }
    .fa {
        color: $color_1;
        padding-right: 6px;
    }
}

