.header {
    background: url('../img/header/bg.png') no-repeat top center / cover;
    position: relative;
    overflow: hidden;
}

.navbar {
    transition: all 1s ease;
    &_view{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(22, 17, 11, 0.6);
        z-index: 100;
    }
 
    &__wrapp {
        display: flex;
        justify-content: space-between;
        align-self: center;
        height: 100px;
    }
    &__menu {
        width: 532px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        &-link {
            font-size: 12px;
            text-decoration: none;
            color: #fff;
            padding: 4px;
            border-bottom: 2px solid transparent;
            transition: all 0.6s ease;
            &:hover {
                border-bottom:  2px solid #E8C300;
            }
        }
    }
    &__logo {
        margin: auto;
        transform: translateY(35px);
        z-index: 10;
        position: relative;
        &-image {
            position: relative;
            transition: all 0.5s ease-in-out 0s;
        }
    }
}

.rotating {
    transform: rotate(180deg);
}

.hero{
    padding-top: 230px;
    &__wrap {
        //height: 250px;
        align-items: center;
        text-align: center;
        color: #fff;
        position: relative;
        text-transform: uppercase;
    }
    &__shedule {
        font-size: 12px;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        left: 0;
        top: -10px;
        position: absolute;
        text-transform: none;
        white-space: nowrap;
    }
    &__social {
        padding: 0;
        position: absolute;
        right: 0;
        top: -10px;
        &-button {
            text-decoration: none;
            display: block;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin-bottom: 20px;
            &:hover {
                cursor: pointer;
            }
            & img {
                transform: translate(0%, 90%);
            }
            &:first-child img {
                transform: translate(0%, 80%); 
            } 
        }
    }
    &-header {
        font-size: 96px;
        //line-height: 0;
        margin: 0;
        @include Banny;
        &::after {
            content: '';
            display: block;
            width: 60px;
            height: 5px;
            background: $color_1;
            margin: 30px auto;
            border-radius: 10px;

        }
    }
    &__button {
        &-click {
            margin: 0 20px;
        }

    }
    &__arrow {
        margin: 82px auto;
        padding: 10px;
        border-radius: 50%;
        max-width: 50px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        & img {
            padding: 10px 8px;
            border-radius: 50%;
            background: #fff;
        }
    }
}


.menu-header {
    width: 100%;
    position: fixed;
    top: 94px;
    left: 0;
    padding: 16px 0px;
    z-index: 100;
    transition: 0.2s ease;
    background: linear-gradient( 130deg, rgba(70,40,40, 0.6) 0%, rgba(0,80,113, 0.6) 100%);
    opacity: 0;
    transform: translateY(-200%);
    &-navigation {
        display: flex;
        text-transform: uppercase;
        justify-content: space-between;
        text-align: center;
    }
    &__wrapper {
        flex-basis: 42%;
        display: flex;
        justify-content: space-between;
    }
    &-link {
        color: #fff;
        text-decoration: none;
        padding: 10px 5px;
        font-size: 13px;
        &:hover {
            background-color: rgba(255, 255, 255, .14);
            border-radius: 3px;
        }
    }
  }

.visible {
    transform: translateY(0);
    opacity: 1;
}


@media (max-width: 1300px){
    .navbar {
        &__menu {
            max-width: 532px;
            &-link {
                font-size: 10px;
                padding: 3px;
            }
        }
    }
    .hero{
        &__shedule {
             left: 55px;
        }
        &__social {
            right: 45px;
            &-button {
                width: 45px;
                height: 45px;
                & img {
                    transform: translate(0%, 70%);
                }
                &:first-child img {
                    transform: translate(0%, 38%); 
                } 
            }
        }
        &-header {
            font-size: 76px;
        }
        &__button {
            &-click {
                margin: 0 15px;
            }
        }
        &__arrow {
            & img {
                padding: 9px 8px;
            }
        }
        &__logo {
            transform: translateY(35px);
            z-index: 10;
            &-image {
                width: 120px;
                height: 120px;
            }
        }
    }
}

//  !Задаем после 991px
@media (max-width: 1110px) {
    .navbar {
        &__wrapp {
            display: flex;
            justify-content: space-between;
            height: 84px;
        }
        &__menu {
            max-width: 480px;
        }
        &__logo {
            transform: translateY(30px);
        }
    }

    .hero{
        padding-top: 200px;
        &__social {
            &-button {
                border: none;
            }
        }
        &-header {
            font-size: 70px;
        }
    }
}

@media (max-width: 910px) {
    .navbar {
        &__wrapp {
            height: 94px;
        }
        &__menu {
            display: none;
        }
        &__logo {
            transform: translateY(20px);
            z-index: 10;
        }
    }
    
    .hero{
        padding-top: 200px;
        &__wrap {
            align-items: center;
            text-align: center;
        }
        &__shedule {
            font-size: 10px;
            writing-mode: initial;
            transform: rotate(0) translateX(-50%);
            left: 50%;
            top: 160%;

        }
        &__social {   
            display: flex;
            transform: translateX(50%);
            right: 50%;
            top: 100%;
            &-button {
                width: 40px;
                height: 40px;
                margin-bottom: 20px;
            }
        }
        &__button {
            &-click {
                margin: 0 20px;
            }
        }
    }
}

@media (max-width: 700px) {
    .navbar {
        &__wrapp {
            height: 80px;
        }
        &__logo {
            transform: translateY(6px);
        }
    }

    .hero{
        padding-top: 100px;
        &__button {
            &-click {
                margin: 5px 10px;
            }
        }
    }


    .menu-header {
        top: 80px;
        &-navigation {
            flex-direction: column;
            margin-top: 40px;
        }
        &__wrapper {
            flex-basis: auto;
            flex-direction: column;
        }
        &-link {
            font-size: 35px;
            letter-spacing: 8px;
            @include Banny;
        }
      }
}